<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>437743105843-uri4kbfgfcpb20r42tnjb28ve17b2ufv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437743105843-uri4kbfgfcpb20r42tnjb28ve17b2ufv</string>
	<key>API_KEY</key>
	<string>AIzaSyCLadIYE--2JfJ5BKz2_IyJico8ZQanzj0</string>
	<key>GCM_SENDER_ID</key>
	<string>437743105843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.subraiz.HackBeanpot</string>
	<key>PROJECT_ID</key>
	<string>photo-ml-231204</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-ml-231204.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437743105843:ios:ffde0bfd7e249068</string>
	<key>DATABASE_URL</key>
	<string>https://photo-ml-231204.firebaseio.com</string>
</dict>
</plist>